@font-face {
  font-family: JunicodeW;
  font-style: normal;
  font-weight: normal;
  src: url('Junicode.otf');
  src: url('Junicode.ttf');
}
@font-face {
  font-family: JunicodeW;
  font-style: normal;
  font-weight: bold;
  src:
  url('Junicode-Bold.otf'),
  url('Junicode-Bold.ttf'),
}
@font-face {
  font-family: JunicodeW;
  font-style: italic;
  font-weight: bold;
  src: url('Junicode-BoldItalic.otf');
  src: url('Junicode-BoldItalic.ttf');
}
@font-face {
  font-family: JunicodeW;
  font-style: italic;
  font-weight: normal;
  src: url('Junicode-Italic.otf');
  src: url('Junicode-Italic.ttf');
}
