@font-face {
    font-family: 'JunicodeW';
    src: url('JunicodeVF-Roman.woff2') format('woff2 supports variations'),
       url('JunicodeVF-Roman.woff2') format('woff2-variations'),
       url('JunicodeVF-Roman.ttf') format('truetype supports variations'),
       url('JunicodeVF-Roman.ttf') format('truetype-variations');
    font-weight: 1 900;
    font-style: normal;
}

@font-face {
    font-family: 'JunicodeW';
    src: url('JunicodeVF-Italic.woff2') format('woff2 supports variations'),
       url('JunicodeVF-Italic.woff2') format('woff2-variations'),
       url('JunicodeVF-Italic.ttf') format('truetype supports variations'),
       url('JunicodeVF-Italic.ttf') format('truetype-variations');;
    font-weight: 1 900;
    font-style: italic;
}

body {
    font-family: Petrona;
    font-variation-settings: 'wght' 400, 'ital' 1;
}
